html{
	height: 100%;
	margin: auto;  
	font-family: 'Press Start 2P',courier;
	font-size: 1em;
	background: #fff2df;
}

body{
	text-align: center;
}

h1{
	color: #d9ad7c;
	font-size: 2em;
}

p{
	color: #a2836e;
	font-size: .8em;
}

.canvasContainer{
	width: 900px;
	height: 600px;
	position: relative;
}

canvas {
	border: 3px solid #674d3c;
}

#restartButton{
	position: absolute;
	top: 0;
}

.score{
	font-size: .8em;
}

table{
	width: 300px;
	margin: 0 auto;	
}

@media (min-width: 1500px){
	table{
		float:right;	
	}
	canvas{
		position: absolute;
		right: 50%;
		transform: translate(50%);
	}
}
