html{
	height: 100%;
	margin: auto;  
	font-family: 'Press Start 2P',courier;
	font-size: 1em;
	background: #fff2df;
}

body{
	text-align: center;
}

h1{
	color: #d9ad7c;
	font-size: 2em;
}

p{
	color: #a2836e;
	font-size: .8em;
}

canvas {
	border: 3px solid #674d3c;
}

.score{
	font-size: .8em;
}
