html{
	height: 100%;
	margin: auto;  
	font-family: 'Press Start 2P',courier;
	font-size: 1em;
	background: #fff2df;
}

body{
	text-align: center;
}

h1{
	color: #d9ad7c;
	font-size: 2em;
}

p{
	color: #a2836e;
	font-size: .8em;
}

.canvasContainer{
	width: 900px;
	height: 600px;
	position: relative;
	margin: auto;
}

canvas {
	border: 3px solid #674d3c;
	position: absolute;
	left:0;
	top: 0;
	z-index: -1;
}


#restartButton{
	background: black;
	color: green;
	font-family: 'Press Start 2P', courier;
	font-size: 1.5em;
	padding: 10px 20px;
	margin-top: 25px;
	border: 3px solid lightgreen;
}

.highScoreMessage{
	padding: 10px 20px;
}

.nameSelectTable{
	margin: 0 auto;
}

.nameSelectTable button{
	font-family: 'Press Start 2P', courier;
	font-size: 1.5em;
	background: green;
	border: none;
}

.nameSelectTable button:hover{
	background: lightgreen;
}

.nameSelectTable button:active{
	background: darkgreen;
}

.score{
	font-size: .8em;
}

#highScores{
	width: 300px;
}

@media (min-width: 1500px){
	#highScores{
		position: absolute;
		right:0;
		top:50%;
		transform: translateY(50%);	
	}
	/*.canvasContainer{
		position: absolute;
		right: 50%;
		transform: translate(50%);
	}*/
}


